<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CRUD API</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-light"  style="background-color: #c9e6f1;">
        <a class="navbar-brand" href="/">CRUD API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/admin">admin</a>
            <a class="nav-item nav-link" href="#">Documentation</a>
            <a class="nav-item nav-link" href="Author ">Author</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </div>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid" style="background-color: white;">
        <div class="container">
          <h1 class="display-4">Hello, this is the employees accounting app</h1>
          <p class="lead">It was created to maintain information about the company's employees. <br> <br>The base contains information about <br> <i>'first_name'</i> - employee name, <br><i>'last_name'</i> - employee surname, <br><i>'inner_username'</i> - this username is generated as first name + last name and is used internally by the company, <br><i>'role'</i> - what position does the person hold, <br><i>'is_active'</i>, <br><i>'description'</i> - a quick summary of the employee, <br><i>'start_work'</i>, <br><i>'end_work'</i>, <br><i>'wage'</i></p>
          <p class="lead"> To work with the database, you need to register and receive a token. After that, the token needs to be inserted into the header and get access. Read more in the documentation.</p>
        </div>
      </div>

    <!-- <a href="/hello/?format=json"><h3>link</h3></a> -->
</body>
</html>